<ng4-loading-spinner> </ng4-loading-spinner>
<div class="section">
    <h2>פרטי כרטיס אשראי</h2>
    <div class="form">
        <div>
            <mat-form-field class="field">
                <mat-label>מספר זהות</mat-label>
                <input matInput type="tel" placeholder="" pattern="[0-9]*" maxlength="9" minlength="9"
                    [(ngModel)]="user.IdCardOwner" required name="tz">
                <mat-error>.שדה חובה</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="field">
                <mat-label>מספר כרטיס</mat-label>
                <input matInput type="tel" placeholder="" pattern="[0-9]*" maxlength="16"
                    [(ngModel)]="user.CreditCardNumber" required name="number">
                <mat-error>.שדה חובה</mat-error>
            </mat-form-field>
        </div>
        <div class="text">
            <div>
                <mat-form-field class="field">
                    <mat-label>cvs</mat-label>
                    <input matInput type="tel" placeholder="" pattern="[0-9]*" maxlength="4" [(ngModel)]="user.Cvv"
                        required name="cvs">
                    <mat-error>.שדה חובה</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field id="valid" class="field">
                    <mat-label>תוקף</mat-label>
                    <input matInput type="month" placeholder="" [(ngModel)]="user.Validity" required name="date">
                    <mat-error>.שדה חובה</mat-error>
                </mat-form-field>
            </div>
        </div>
        <button class="btn" (click)="save()">שמור</button>
    </div>
</div>