.section{
    text-align: center;
    padding-top: 10%;
    color:rgb(0,39,58); 

    h2{
        margin-bottom: 0%;
        color:#bb3209;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    img{
        width: 150px;
    }
    .form{
        direction: rtl;
        max-width: 300px;
        margin: 0 auto 100px;
        padding: 30px;
        margin-top: 50px;
        font-weight: 600;

        div{
            text-align: right;
            display: grid;
            margin-bottom: 6px;

            label{
                margin: 0;
            }
        }

        .text{
            display: flex;
            mat-form-field{
                width: 110px;
                margin-left: 14%;
            }            
        }

        .btn{
            background:rgb(0,39,58);
            margin-top: 30px;
            width: 100%;
            border: 0;
            padding: 15px;
            border-radius: 3px;
            color: #FFFFFF;
            font-size: 18px;
            cursor: pointer;
        }
    }
    mat-form-field{
       text-align: right;
    }

}
 