<div class="section">
    <h2>פרטי חשבון בנק</h2>
    <div class="form">
        <div>
            <label>שם בעל החשבון</label>
            <input  placeholder='' [(ngModel)]="driver.OwnerName"  type='text'>
        </div>
        <div>
            <label>מספר חשבון</label>
            <input maxlength='9' minlength='9'  placeholder='' [(ngModel)]="driver.AccountNumber"  type='number'>
        </div>
        <div class="text">
            <div>
                <label>מספר בנק</label>
                <input maxlength='2' placeholder='' [(ngModel)]="driver.BankNum"   type='number'>
            </div>
            <div>
                <label>מספר סניף</label>
                <input maxlenght='3' placeholder='' [(ngModel)]="driver.BranchNum"  type='number'>
            </div>
        </div>
        <button class="btn" (click)="save()">שמור</button>
    </div>
</div>
